<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>yi lie bu ju</title>
</head>
<style type="text/css">
	body{
		margin:0;
		padding:0;
	}
	.main{
		width:300px;
		height:300px;
		background:#000;
		margin:0 auto;/*上下为0，左右居中*/
	}
	.top{
		height:100px;
		background:blue;
	}
	.bottom{
		width:800px;
		height:100px;
		margin:0 auto;
		background:#F00;
	}
</style>
<body>
<div class="top"></div>
<div class="main"></div>
<div class="bottom"></div>
</body>
</html>
