<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>倒计时</title>
</head>
<script type="text/javascript">
	window.onload = function(){
		var currentTime = new Date();
		var endTime = new Date("2015,9,1");
		var leftTime = Math.ceil((endTime.getTime() - currentTime.getTime())/(1000*60*60*24));
		document.getElementById("show").innerHTML = leftTime;
	}
</script>
<body>
<span id="show"></span>
</body>
</html>
