<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
body{
	margin:0;
	padding:0;
}
.top{
	margin:0 auto;
	width:800px;
	height:100px;
	background:blue;
}
.main{
	margin:0 auto;
	width:800px;
	height:700px;
	background:#CCC;
}
.left{
	float:left;
	width:200px;
	height:700px;
	background:#F00;
}
.right{
	float:right;
	width:600px;
	height:700px;
	background:#0F0;
}
.sub_l{
	width:200px;
	height:700px;
	float:left;
	background:green;
}
.sub_l{
	width:300px;
	height:700px;
	float:right;
	background:black;
}
</style>
</head>

<body>
<div class="top"></div>
<div class="main">
	<div class="left"></div>
    <div class="right">
    	<div class="sub_l"></div>
        <div class="sub_r"></div>
    </div>
</div>
<div class="bottom"></div>
</body>
</html>
