<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户发言列表</title>
<style type="text/css">
	body{
		margin:0;
		padding:0;
	}
	.left{
		float:left;
		margin:100px auto auto 200px;
		width:80px;
		height:200px;
		background:#CCC;
	}
	img{
		width:80px;
		height:80px;
	}
	.right{
		float:left;
		margin:100px 0 0 0;
		width:400px;
		height:200px;
		background:#FFF;
		border:solid 1px #666;
	}
</style>
</head>

<body>
<div class="left"><img src="imag.jpg"/></div>
<div class="right"></div>
</body>
</html>
