<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>限时抢</title>
</head>
<script type="text/javascript">
	window.onload = function(){
		showtime();
	}
	function showtime(){
		var endtime = new Date("2015,9,1");
		var nowtime = new Date();
		var lefttime = parseInt((endtime.getTime() - nowtime.getTime())/1000);//秒
		var day = parseInt(lefttime/(24*60*60));
		var hour = parseInt(lefttime/(60*60)%24);
		var minutes = parseInt((lefttime/(60))%60);
		var seconds = parseInt(lefttime%60);
		document.getElementById("show").innerHTML = day+"天"+hour+"小时"+minutes+"分钟"+seconds+"秒";
		setTimeout(showtime,500);
	}
</script>
<body>
<span id="show"></span>
</body>
</html>
